@font-face {
  font-family: "Rokkitt";
  src: url("../../../public/fonts/Rokkitt/Rokkitt-VariableFont_wght.ttf");
}
html {
  scroll-behavior: smooth;
}

body {
  width: calc(100vw - 17px);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

.custom-tooltip {
  width: 52px;
  text-align: center;
}

.titre-top {
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 360px) {
  .titre-top {
    height: 80px;
  }
}
@media screen and (max-width: 900px) {
  .titre-top {
    height: 100px;
  }
}
.titre-top h2 {
  font: 40px "Roboto", sans-serif;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: inset 8px #EDCD1F;
  padding: 15px;
}
@media screen and (max-width: 360px) {
  .titre-top h2 {
    font: 26px "Roboto", sans-serif;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: inset 3px #EDCD1F;
    height: 50px;
  }
}
@media screen and (max-width: 900px) {
  .titre-top h2 {
    height: 75px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font: 26px "Roboto", sans-serif;
    border-bottom: inset 3px #EDCD1F;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: calc(100vw - 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 500;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-animation: apparition3 0.6s 0.7s ease-out forwards;
          animation: apparition3 0.6s 0.7s ease-out forwards;
  background-color: #876648;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media screen and (max-width: 360px) {
  .navigation {
    height: 50px;
    width: 100vw;
  }
}
@media screen and (max-width: 900px) {
  .navigation {
    height: 75px;
    width: 100vw;
  }
}
.navigation .logo {
  background-color: #EDCD1F;
  display: inline-block;
  width: 20%;
  height: 100%;
}
.navigation .navigation-container {
  height: 75%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 360px) {
  .navigation .navigation-container {
    width: 280px;
    height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation-container {
    width: 70%;
    height: 90%;
  }
}
@media screen and (max-width: 560px) {
  .navigation .navigation-container {
    width: 85%;
    height: 95%;
  }
}
.navigation .navigation-container .ulnav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 45px;
}
@media screen and (max-width: 360px) {
  .navigation .navigation-container .ulnav {
    margin: 0 4px;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation-container .ulnav {
    margin: 0 10px;
  }
}
@media screen and (max-width: 560px) {
  .navigation .navigation-container .ulnav {
    margin: 0 5px;
  }
}
.navigation .navigation-container .ulnav a {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}
.navigation .navigation-container .ulnav a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navigation .navigation-container .ulnav a:active li {
  cursor: pointer;
  padding: 10px;
  color: black;
  font: 20px "Roboto", sans-serif;
}
@media screen and (max-width: 360px) {
  .navigation .navigation-container .ulnav a:active li {
    padding: 3px;
    font: 12px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation-container .ulnav a:active li {
    padding: 5px;
    font: 16px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 560px) {
  .navigation .navigation-container .ulnav a:active li {
    padding: 4px;
    font: 12px "Roboto", sans-serif;
  }
}
.navigation .navigation-container .ulnav a li {
  cursor: pointer;
  padding: 10px;
  color: white;
  font: 20px "Roboto", sans-serif;
}
@media screen and (max-width: 360px) {
  .navigation .navigation-container .ulnav a li {
    padding: 3px;
    font: 12px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation-container .ulnav a li {
    padding: 5px;
    font: 16px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 560px) {
  .navigation .navigation-container .ulnav a li {
    padding: 4px;
    font: 12px "Roboto", sans-serif;
  }
}

@-webkit-keyframes apparition3 {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    background-color: #876648;
  }
}

@keyframes apparition3 {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    background-color: #876648;
  }
}
header {
  position: relative;
  min-height: 100vh;
  width: calc(100vw - 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-animation: apparition 0.6s 0.7s ease-out forwards;
          animation: apparition 0.6s 0.7s ease-out forwards;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 0.09)), color-stop(10%, rgba(255, 255, 255, 0.025))), url("../../../public/img/photos/IMG-20230919-WA0000.jpg") center/cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.09) 100%, rgba(255, 255, 255, 0.025) 10%), url("../../../public/img/photos/IMG-20230919-WA0000.jpg") center/cover;
}
@media screen and (max-width: 900px) {
  header {
    width: 100vw;
  }
}
@media screen and (max-width: 360px) {
  header {
    width: 100vw;
  }
}
header .header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}
header .header-container h1 {
  color: #ffffff;
  font-size: 42px;
  font-family: "Rokkitt";
  font-weight: 500;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  -webkit-animation: apparition2 0.6s 0.7s ease-out forwards;
          animation: apparition2 0.6s 0.7s ease-out forwards;
}
@media screen and (max-width: 360px) {
  header .header-container h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 900px) {
  header .header-container h1 {
    font-size: 29px;
  }
}
header .header-container i {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: calc(50% - 125px);
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  header .header-container i {
    bottom: calc(50% - 110px);
  }
}
header .header-container i:hover {
  -webkit-transform: translate(-50%, 50%) scale(1.2);
          transform: translate(-50%, 50%) scale(1.2);
}
@media screen and (max-width: 360px) {
  header .header-container i:hover {
    -webkit-transform: translate(-50%, 50%) scale(1.1);
            transform: translate(-50%, 50%) scale(1.1);
  }
}

@-webkit-keyframes apparition {
  100% {
    opacity: 1;
    margin-top: 100px;
    height: calc(100vh - 100px);
  }
}

@keyframes apparition {
  100% {
    opacity: 1;
    margin-top: 100px;
    height: calc(100vh - 100px);
  }
}
@media screen and (max-width: 360px) {
  @-webkit-keyframes apparition {
    100% {
      opacity: 1;
      margin-top: 50px;
      height: calc(100vh - 50px);
    }
  }
  @keyframes apparition {
    100% {
      opacity: 1;
      margin-top: 50px;
      height: calc(100vh - 50px);
    }
  }
}
@media screen and (max-width: 900px) {
  @-webkit-keyframes apparition {
    100% {
      opacity: 1;
      margin-top: 75px;
      height: calc(100vh - 75px);
    }
  }
  @keyframes apparition {
    100% {
      opacity: 1;
      margin-top: 75px;
      height: calc(100vh - 75px);
    }
  }
}
@-webkit-keyframes apparition2 {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes apparition2 {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.button {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.button a, .button a:visited {
  text-decoration: none;
  color: white;
  background-color: #876648;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1rem;
  width: 200px;
  padding: 12px 30px;
  border-radius: 15px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-animation: apparition2 0.6s 0.6s ease-out forwards;
          animation: apparition2 0.6s 0.6s ease-out forwards;
}
@media screen and (max-width: 360px) {
  .button a, .button a:visited {
    font-size: 15px;
    padding: 10px 18px;
  }
}
.button:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

.services {
  min-height: 100vh;
  width: calc(100vw - 17px);
}
@media screen and (max-width: 900px) {
  .services {
    width: 100vw;
  }
}
@media screen and (max-width: 360px) {
  .services {
    width: 100vw;
  }
}
.services .services-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 360px) {
  .services .services-content {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}
.services .services-content .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 360px) {
  .services .services-content .service {
    border-radius: 5px;
  }
}
.services .services-content .service img {
  width: 330px;
  height: 300px;
  border-radius: 10px;
}
@media screen and (max-width: 360px) {
  .services .services-content .service img {
    width: 280px;
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
.services .services-content .service .service-content {
  width: 330px;
  height: 300px;
  background-color: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 12px;
  border-radius: 10px;
}
@media screen and (max-width: 360px) {
  .services .services-content .service .service-content {
    width: 280px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    gap: 12px;
  }
}
.services .services-content .service .service-content h3 {
  font: 20px "Roboto", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 360px) {
  .services .services-content .service .service-content h3 {
    font: 20px "Roboto", sans-serif;
    font-weight: 700;
  }
}
.services .services-content .service .service-content p {
  font: 18px "Roboto", sans-serif;
}
@media screen and (max-width: 360px) {
  .services .services-content .service .service-content p {
    font: 16px "Roboto", sans-serif;
    line-height: 22px;
  }
}

.a-propos {
  min-height: 100vh;
  width: calc(100vw - 17px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
@media screen and (max-width: 360px) {
  .a-propos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    width: 100vw;
  }
}
@media screen and (max-width: 900px) {
  .a-propos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}
.a-propos .titre {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 360px) {
  .a-propos .titre {
    gap: 16px;
    width: 100%;
    height: 50vh;
  }
}
@media screen and (max-width: 900px) {
  .a-propos .titre {
    width: 100%;
  }
}
.a-propos .titre-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.a-propos .a-propos-content {
  margin: 0 100px;
}
@media screen and (max-width: 360px) {
  .a-propos .a-propos-content {
    margin: 0 30px;
  }
}
@media screen and (max-width: 900px) {
  .a-propos .a-propos-content {
    margin: 0 50px;
  }
}
.a-propos .a-propos-content p {
  text-align: justify;
  font: 18px "Roboto", sans-serif;
  line-height: 28px;
}
@media screen and (max-width: 360px) {
  .a-propos .a-propos-content p {
    font: 16px "Roboto", sans-serif;
    line-height: 22px;
  }
}
@media screen and (max-width: 900px) {
  .a-propos .a-propos-content p {
    font: 20px "Roboto", sans-serif;
    line-height: 26px;
  }
}
.a-propos .img-apropos {
  background: url("../../../public/img/photos/IMG-20230919-WA0006.jpg") center/cover;
  width: 50%;
  height: 100vh;
}
@media screen and (max-width: 360px) {
  .a-propos .img-apropos {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (max-width: 900px) {
  .a-propos .img-apropos {
    font: 20px "Roboto", sans-serif;
    width: 100%;
    height: 50vh;
  }
}

.projets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  min-height: 100vh;
  width: calc(100vw - 17px);
}
@media screen and (max-width: 360px) {
  .projets {
    gap: 16px;
    width: 100vw;
  }
}
@media screen and (max-width: 900px) {
  .projets {
    gap: 24px;
    width: 100vw;
  }
}
.projets .projets-chiffres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 17px);
  height: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EDCD1F;
}
@media screen and (max-width: 360px) {
  .projets .projets-chiffres {
    height: 75px;
    width: 100vw;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-chiffres {
    height: 100px;
    width: 100vw;
  }
}
.projets .projets-chiffres .annee, .projets .projets-chiffres .projets-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #876648;
}
.projets .projets-chiffres .annee h3, .projets .projets-chiffres .projets-nombre h3 {
  font: 40px "Roboto", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 360px) {
  .projets .projets-chiffres .annee h3, .projets .projets-chiffres .projets-nombre h3 {
    font: 26px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-chiffres .annee h3, .projets .projets-chiffres .projets-nombre h3 {
    font: 26px "Roboto", sans-serif;
  }
}
.projets .projets-chiffres .annee h4, .projets .projets-chiffres .projets-nombre h4 {
  font: 32px "Roboto", sans-serif;
  font-weight: 500;
}
@media screen and (max-width: 360px) {
  .projets .projets-chiffres .annee h4, .projets .projets-chiffres .projets-nombre h4 {
    font: 16px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-chiffres .annee h4, .projets .projets-chiffres .projets-nombre h4 {
    font: 18px "Roboto", sans-serif;
  }
}
.projets .projets-chiffres .projets-nombre {
  border-left: 3px solid white;
}
.projets .projets-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  padding-top: 50px;
  padding-bottom: 80px;
}
@media screen and (max-width: 360px) {
  .projets .projets-content {
    gap: 16px;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-content {
    gap: 20px;
  }
}
.projets .projets-content .projet {
  width: 420px;
  height: 380px;
  position: relative;
}
@media screen and (max-width: 360px) {
  .projets .projets-content .projet {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-content .projet {
    width: 380px;
    height: 300px;
  }
}
.projets .projets-content .projet img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0%;
     object-position: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  position: relative;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.projets .projets-content .projet img:hover,
.projets .projets-content .projet img img {
  -webkit-filter: opacity(40%) contrast(90%);
          filter: opacity(40%) contrast(90%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.projets .projets-content .projet span {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  z-index: -10;
}
.projets .projets-content .projet span p {
  line-height: 28px;
  font-size: 1.5rem;
}
@media screen and (max-width: 360px) {
  .projets .projets-content .projet span p {
    font: 16px "Roboto", sans-serif;
    line-height: 26px;
  }
}
.projets .projets-content .projet:hover span {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.projets .projets-content .voir-plus {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media screen and (max-width: 360px) {
  .projets .projets-content .voir-plus {
    bottom: 20px;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-content .voir-plus {
    bottom: 40px;
  }
}
.projets .projets-content .voir-plus:hover {
  -webkit-transform: translate(-50%, 50%) scale(1.1);
          transform: translate(-50%, 50%) scale(1.1);
}
.projets .projets-content .voir-plus button {
  cursor: pointer;
  padding: 16px;
  border: none;
  border-radius: 15px;
  background-color: #876648;
  color: white;
  font: 20px "Roboto", sans-serif;
}
@media screen and (max-width: 360px) {
  .projets .projets-content .voir-plus button {
    padding: 7px 12px;
    font: 14px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-content .voir-plus button {
    padding: 10px;
    font: 16px "Roboto";
  }
}
.projets .projets-content .buttonless1, .projets .projets-content .buttonless2 {
  cursor: pointer;
  padding: 16px;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  background-color: #876648;
  color: white;
  font: 20px "Roboto", sans-serif;
  margin-bottom: 30px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media screen and (max-width: 360px) {
  .projets .projets-content .buttonless1, .projets .projets-content .buttonless2 {
    padding: 7px;
    font: 14px "Roboto", sans-serif;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-content .buttonless1, .projets .projets-content .buttonless2 {
    padding: 10px;
    font: 16px "Roboto", sans-serif;
  }
}
.projets .projets-content .buttonless1:hover, .projets .projets-content .buttonless2:hover {
  -webkit-transform: translate(-50%, 50%) scale(1.1);
          transform: translate(-50%, 50%) scale(1.1);
}
.projets .projets-content .buttonless1 {
  position: absolute;
  top: -70px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
@media screen and (max-width: 360px) {
  .projets .projets-content .buttonless1 {
    top: -100px;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-content .buttonless1 {
    top: -50px;
  }
}
.projets .projets-content .buttonless2 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
@media screen and (max-width: 360px) {
  .projets .projets-content .buttonless2 {
    bottom: 40px;
  }
}
@media screen and (max-width: 900px) {
  .projets .projets-content .buttonless2 {
    bottom: 40pxpx;
  }
}

.contact {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.07);
}
@media screen and (max-width: 900px) {
  .contact {
    width: 100vw;
  }
}
@media screen and (max-width: 360px) {
  .contact {
    width: 100vw;
  }
}
.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 17px);
}
@media screen and (max-width: 900px) {
  .contact .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}
@media screen and (max-width: 360px) {
  .contact .contact-container {
    width: 100vw;
  }
}
.contact .contact-container .contact-left {
  text-align: center;
  position: relative;
  padding: 0;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-left {
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-left {
    width: 100%;
  }
}
.contact .contact-container .contact-left .nous-ecrire {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.contact .contact-container .contact-left .nous-ecrire h4 {
  font: 26px "Roboto", sans-serif;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-left .nous-ecrire h4 {
    font: 20px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-left .nous-ecrire h4 {
    font: 20px "Roboto", sans-serif;
    margin-top: 20px;
  }
}
.contact .contact-container .contact-left .nous-ecrire p {
  font: 18px "Roboto", sans-serif;
  max-width: calc(100% - 100px);
  text-align: justify;
  padding: 0 30px;
  line-height: 28px;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-left .nous-ecrire p {
    line-height: 24px;
    padding: 0 15px;
    max-width: calc(100% - 30px);
    font: 16px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-left .nous-ecrire p {
    line-height: 20px;
    font: 16px "Roboto", sans-serif;
  }
}
.contact .contact-container .contact-left .form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 224px;
  grid-template-areas: "input1 input2" "texta texta";
  gap: 10px;
  width: 85%;
  max-width: 600px;
  margin: 30px auto;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-left .form-grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: 40% 40%;
    grid-template-rows: 60px 160px;
    margin: 15px auto;
  }
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-left .form-grid {
    grid-template-rows: 80px 200px;
    margin: 20px auto;
  }
}
.contact .contact-container .contact-left .form-grid .textarea {
  grid-area: texta;
}
.contact .contact-container .contact-left .form-grid label {
  letter-spacing: 1px;
  font: 20px "Roboto", sans-serif;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-left .form-grid label {
    font: 12px "Roboto", sans-serif;
  }
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-left .form-grid label {
    font: 20px "Roboto", sans-serif;
  }
}
.contact .contact-container .contact-left .form-grid input[type=text],
.contact .contact-container .contact-left .form-grid textarea, .contact .contact-container .contact-left .form-grid input[type=email] {
  width: 100%;
  margin: 20px 0 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-left .form-grid input[type=text],
  .contact .contact-container .contact-left .form-grid textarea, .contact .contact-container .contact-left .form-grid input[type=email] {
    padding: 6px;
    margin: 10px 0 20px;
  }
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-left .form-grid input[type=text],
  .contact .contact-container .contact-left .form-grid textarea, .contact .contact-container .contact-left .form-grid input[type=email] {
    padding: 8px;
    margin: 12px 0 24px;
  }
}
.contact .contact-container .contact-left .form-grid input[type=text],
.contact .contact-container .contact-left .form-grid input[type=email],
.contact .contact-container .contact-left .form-grid textarea {
  outline: none;
}
.contact .contact-container .contact-left .form-grid input[type=text]:focus,
.contact .contact-container .contact-left .form-grid textarea:focus, .contact .contact-container .contact-left .form-grid input[type=email]:focus {
  border: 2px solid #EDCD1F;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-left .form-grid input[type=text]:focus,
  .contact .contact-container .contact-left .form-grid textarea:focus, .contact .contact-container .contact-left .form-grid input[type=email]:focus {
    border: 1px solid #EDCD1F;
  }
}
.contact .contact-container .contact-left .form-grid textarea {
  resize: none;
  height: 180px;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-left .form-grid textarea {
    height: 120px;
  }
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-left .form-grid textarea {
    height: 150px;
  }
}
.contact .contact-container .contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-right {
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-right {
    width: 100%;
  }
}
.contact .contact-container .contact-right .maps {
  width: 80%;
  height: 300px;
  background: center/cover;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-right .maps {
    width: 90%;
    height: 230px;
  }
}
.contact .contact-container .contact-right .contact-right-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-right .contact-right-container {
    width: 85%;
  }
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-right .contact-right-container {
    width: 95%;
    gap: 12px;
  }
}
@media screen and (max-width: 600px) {
  .contact .contact-container .contact-right .contact-right-container {
    width: 90%;
    gap: 16px;
  }
}
.contact .contact-container .contact-right .contact-right-container h3 {
  margin-top: 40px;
  text-align: center;
  font: 26px "Roboto", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-right .contact-right-container h3 {
    font: 20px "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .contact .contact-container .contact-right .contact-right-container h3 {
    font: 20px "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 20px;
  }
}
.contact .contact-container .contact-right .contact-right-container img {
  width: 48px;
  height: 48px;
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-right .contact-right-container img {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 600px) {
  .contact .contact-container .contact-right .contact-right-container img {
    width: 36px;
    height: 36px;
  }
}
.contact .contact-container .contact-right .contact-right-container .phonemail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 100;
}
@media screen and (max-width: 900px) {
  .contact .contact-container .contact-right .contact-right-container .phonemail {
    font-size: 16px;
    font-weight: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 360px) {
  .contact .contact-container .contact-right .contact-right-container .phonemail {
    font-size: 16px;
    font-weight: 200;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .contact .contact-container .contact-right .contact-right-container .phonemail {
    font-size: 16px;
    font-weight: 200;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact .contact-container .contact-right .contact-right-container .phonemail .phonemail-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.contact .h3 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.contact .button {
  border: 1px solid #ccc;
  background-color: #876648;
  color: white;
  border-radius: 50px;
  padding: 13px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 360px) {
  .contact .button {
    margin-bottom: 20px;
    padding: 8px 18px;
  }
}
@media screen and (max-width: 900px) {
  .contact .button {
    padding: 10px 20px;
    margin-bottom: 30px;
  }
}
.contact .button:hover,
.contact a:hover {
  border: 1px solid #EDCD1F;
  color: rgb(232, 228, 175);
}

.form-content {
  position: relative;
}
.form-content .success, .form-content .fail {
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font: 20px "Roboto", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-content .fail {
  color: red;
}
.form-content .success {
  color: green;
}

footer {
  background-color: #876648;
  color: white;
  padding: 30px 0;
}
footer a {
  color: white;
}
footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-container h3 {
  text-align: center;
}
footer .footer-container .footer-left .line-info {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container .footer-left .line-info i {
  margin: 0 15px;
}
footer .footer-container .footer-right .heures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-container .footer-right .heures .heure-jour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .mentions-legales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */